<section id="introduction" class="name-title" ng-animate="true" [@listAnimation]="descriptions.length">
    <div id="list" *ngFor="let description of descriptions">
        <p class="p-name-title">{{description}}</p>
    </div>
    <div [@explainerAnim]>
        <div class="col">
            <p>C#</p>
        </div>
        <div class="col">
            <p>SQL</p>
        </div>
    </div>
</section>
<section id="personal" class="about">
   <h1>About Me</h1>
    <div></div>
</section>
<section id="ability">
    <h1>Technical Skills</h1>
</section>

