<body>
    <header id="introduction" class="homeSection" ng-animate="true" [@listAnimation]="descriptions.length">
        <div id="list" *ngFor="let description of descriptions">
            <p class="p-name-title">{{description}}</p>
        </div>
        <div [@explainerAnim]>
            <div class="col">
                <p class="col-p-content">I'm Morgan, a .Net Software Developer based in St. Petersburg, FL.</p>  
            </div>
            <div class="col">
                <p class="col-p-content">Stay and have a look around to find out more about how I can help you and your organization reach futher levels of success and excellence.</p>
            </div>
        </div>
    </header>
    <section id="personal" class="homeSection">
        <h1>About Me</h1>
        <div>
            <p>Ok, honesty time... I hate talking about myself, so this could get weird.</p>
            <p>Don't say I didn't warn you.</p>
            <p>
                Still Here? Cool. Let's just hit the highlights shall we?
                My name is Morgan Abraham and I am a software engineer. (Do you want to know more about that? I would..., skip the life
                story and jump to <a href="">Technical Skills</a>).
            </p>
            <p>
                Originally from South Carolina, I now call Tampa Bay home. Before moving to Florida I obtained my bachelors degree from the University of South Carolina and
                my MBA from Augusta University.
            </p>
            <p>
                When I'm not staring into a computer screen
                I enjoy movies and comic books. (Remember when every movie wasn't remake or a super hero movie? Me neither.) But, ah, I digress. I'm an older millenial, husband,
                and father of two beautiful daughters'.
            </p>
        </div>
    </section>
    <section id="ability" class="homeSection">
        <h1>Technical Skills</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section>
</body>
