<section id="introduction" class="homeSection" ng-animate="true" [@listAnimation]="descriptions.length">
    <div id="list" *ngFor="let description of descriptions">
        <p class="p-name-title">{{description}}</p>
    </div>
    <div [@explainerAnim]>
        <div class="col">
            <p>C#</p>
        </div>
        <div class="col">
            <p>SQL</p>
        </div>
    </div>
</section>
<section id="personal" class="homeSection">
    <h1>About Me</h1>
    <div>
        <p>Ok, honesty time... I hate talking about myself, so this could get weird.</p>
        <p>Don't say I didn't warn you.</p>
        <p>
            Still Here? Cool. Let's just hit the highlights shall we?
            My name is Morgan Abraham and I am a software engineer. (Do you want to know more about that? I would..., skip the life
            story and jump to <a href="">Technical Skills</a>).
        </p>
        <p>
            Originally from South Carolina, I now call Tampa Bay home. Before moving to Florida I obtained my bachelors degree from the University of South Carolina and
            my MBA from Augusta University.
        </p>
        <p>
            When I'm not staring into a computer screen
            I enjoy movies and comic books. (Remember when every movie wasn't a super hero movie? Me neither.) But, ah, I digress. I'm an older millenial, husband,
            and father of two beautiful daughters'.
        </p>
    </div>
</section>
<section id="ability" class="homeSection">
    <h1>Technical Skills</h1>
</section>

